<div class="container-fluid">
	<h4>Users</h4>
	<div class="container-fluid">
		<table class="table" ng-show="users.length>0">
			<thead>
				<tr>
					<th>Sno</th>
					<th>Username</th>
					<th>Role</th>
					<th>Name</th>
					<th>Address</th>
					<th>Phone No</th>
					<th>Email</th>
					<th>Designation</th>
					<th>Edit</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{$index+1}}</td>
					<td>{{user.username}}</td>
					<td>{{user.roles.role}}</td>
					<td>{{user.name}}</td>
					<td>{{user.address}}</td>
					<td>{{user.phoneno}}</td>
					<td>{{user.email}}</td>
					<td>{{user.designation}}</td>
					<td><button ng-click="edit(user)" class="btn btn-primary btn-xs">Edit</button></td>
					<td ng-if="user.active==1"><button class="btn btn-warning btn-xs" ng-click="deactivate(user)">Deactivate</button></td>
					<td ng-if="user.active!=1"><button class="btn btn-success btn-xs" ng-click="activate(user)">Activate</button></td>
				</tr>
			</tbody>
		</table>
		<span class="label label-warning" ng-show="users.length==0">There are no users added</span>
		<br>
		<br>
		<button ng-click="create()" class="btn btn-primary">Add</button>
	</div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form ng-submit="save()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">User</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" ng-if="muser.id">
						<label>Username</label>
						<input type="text" class="form-control" ng-model="muser.username" readonly>
					</div>
					<div class="form-group" ng-if="!muser.id">
						<label>Userame</label>
						<input type="text" class="form-control" ng-model="muser.username" required>
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" ng-model="muser.name" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea class="form-control" ng-model="muser.address" required></textarea>
					</div>
					<div class="form-group">
						<label>Phone No</label>
						<input type="text" class="form-control" ng-model="muser.phoneno" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" ng-model="muser.email" required>
					</div>
					<div class="form-group">
						<label>Designation</label>
						<input type="text" class="form-control" ng-model="muser.designation" required>
					</div>
					<div class="form-group">
						<label>Role</label>
						<select class="form-control" ng-model="muser.role" ng-options="role.id as role.role for role in roles">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>